html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#nav {
    width: 20%;
    left: 3%;
    top: 3%;
    position: absolute;
    z-index: 5;
}

#cards {
    width: 60%;
    right: 0;
    top: 2%;
    position: absolute;
    z-index: 5;
    max-height: 100%;
    overflow-y: scroll;
}

#zone {
    max-height: 50%;
    overflow-y: scroll;
}

.button-menu {
    text-align: center;
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    border: 2px solid black;
    white-space: nowrap;
}


/*modal*/

#modal-container{
    padding: 5%;
    margin-top: 15%;
}


#modal-container .content{
    background: white;
    padding: 5%;
}